@page {
    size: a4 portrait;
    margin: 10mm 10mm 10mm 10mm;
    counter-increment: page;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

td, th {
    border-left: 1px solid #ddd;  
    border-right: 1px solid #ddd;  
}

tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table tr:nth-child(2n+1) {
    background-color: #fff;
}

table tr:nth-child(2n) {
    background-color: #f1f1f1;
}
